body{
margin: 0px;
padding: 0px;
}
img{
height: 25%;
margin-left: 80px;
}
ul li{
background-color: transparent;
height: 35px;
width: 120px;
line-height: 35px;
float: right;
display: block;
border: 1px solid transparent;
border-radius: 8px;
text-align: center;
}
ul li a{
color: white;
text-decoration: none;
display: block;
color: black;
}
ul li a:hover{
background-color: green;
border-radius: 8px;
}
ul li ul li{
display: none;
}
ul li:hover ul li{
display: block;
width: 130px;
}
.img{
height: 100%;
width: 100%;
margin: 0px;
}
.mar marquee{
background-color: pink;
height: 50px;
line-height: 50px;
color: red;
font-size: 30px;
display: block;
scrollamount: 90;
}
.h1{
background-image: url(https://tse1.mm.bing.net/th?id=OIP.iN6S198yMpez8sfyfHquBQHaE4&pid=Api&P=0);
background-position: center;
height: 100px;
text-align: center;
padding: 48px;
font-size: 60px;
}
.om{
margin-left: 280px;
color: brown;
}
.om2{
margin-left: 195px;
}
.well{
margin-right: 73%;
margin-left: 20%;
}
.lakshmiemperor{
height: 50%;
width: 45%;
margin-left: 20px;
}
.oops{
margin-top: -70px;
margin-left: 100px;
width: 34%;
}
.oops2{
color: brown;
margin-left: ;
}
.t20{
font-size: 20px;
}
table,td,th{
border: 1px solid white;
text-align: center;
}
td{
text-align: center;
}
.spam{
float: right;
}
.omg{
text-align: center;
color: brown;
}
.end{
background-color: black;
color: white;
}
.ref button{
color: white;
background-color: black;
height: 70px;
border: 35px solid black;
margin-left: 200px;
}
.black{
color: black;
}
.links{
color: white;
}
.links a{
color: white;
text-decoration: underline;
}
.hit{
color: thin white;
width: 85%;
}
.hit2{
margin-top: 50px;
}
.hit3{
text-align: center;
}